<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
    <%- include('../partials/navigation') %> 

    <div class="container center-h" >
        <div class="wrapper">
            <canvas id="memory-usage" width="450" height="250" aria-label="Hello ARIA World" role="img">

            </canvas>
        </div>
    </div>
    <%- include('../partials/scripts') %> 
    <script src="./js/socket.io.js"></script>
    <script src="./js/chart.js"></script>
    <script>
       "use strict"

        var socket = io();


        const wrapper = document.querySelector('.wrapper');
        const ctx = document.querySelector('#memory-usage').getContext('2d');
        let memoryUsageChart = null;

        const chartData = [];

        socket.once('osstatus', (os) => {
            socket.on('osstatus', (os) => {

            })
        })

    </script>
</body>
</html>