

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --header-bg-color: rgba(0, 0, 0, 0.613);
    --content-bg-color: rgba(0, 0, 0, 0.368);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #030411;
    background-image: url('../images/backgrounds/background.jpg');
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
    background-size: cover;
    height: 100%;
    
}

input[type=text] {
    width: 100%;
    padding: 12px 10px;
    box-sizing: border-box;
}

button {
    border: none;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    color: white;
    
    width: 100%;
    padding-top:20px;
    
}

.wrapper {
    display: flex;
    width: 960px;
    padding: 15px;
    background: var(--content-bg-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    background: var(--header-bg-color);
}

.header-logo {
    display: flex;
    user-select: none;
    text-transform: lowercase;
    color: white;
    align-items: center;
    padding: 15px;
}

.header-logo img {
    width: 40px;
    height: 40px;
}

.header-logo span {
    font-size: 30px;
    margin-top: -3px;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: flex;
    margin: 0;
    padding: 0;

}

nav ul li a {
    display: flex;
    padding: 10px;
    transition: all .2s ease-in-out;
    margin: 0;
    align-items: center;
}

nav ul li a:hover {
    background: rgba(42, 99, 173, 0.504);
    transition: .4 ease;
}

.nav-text {
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin-left: 5px;
}



.site-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding:10px;
}

.site-link {
    display: block;
}

.site-link-inner {
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    font-size: .6em;
    align-items: center;
    width: 100px;
    height: 100px;
    transition: all .2s ease-in-out;
    justify-content: center;
}


.site-link-inner:hover {
    background: rgba(255, 255, 255, 0.164);
}

.site-link-logo {
    width: 40px;
    height: 40px;
    padding: 3px;
    transition: all .3s ease;
    margin-bottom: 5px;
}

.site-link-inner:hover img {
    padding: 0px;
}

.site-link-description {
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    max-height: 0;
}


.sites-list {
    width: 100%;

}

.site-list-row {
    width: 100%;
    display: grid;
    color: white;
    font-size: .8em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid rgba(255, 255, 255, 0.523);

}


.site-list-row:hover {
    background: rgba(255, 255, 255, 0.218);
}

.site-list-row-labels:hover {
    background: rgba(0, 0, 0, 0.589);
}

.site-list-row-labels {
    padding-top: 10px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.589);
    font-size:1.1em
}

.site-list-controlls {
    justify-content: flex-end;
}

.site-edit {}


.site-remove {
    background: rgb(212, 88, 88);
    height: 26px;
    width: 26px;
    margin:0;
}

.site-remove:hover {
    background: rgb(226, 111, 111);
}

.site-list-controlls svg {
    margin-top:-10px;
    font-size: .8em;
}


.site-list-row>div {
    padding: 5px;
    display: flex;
    align-items: center;
    gap:10px;
}

#add-website-form {
    width:100%;
    display:flex;
    flex-direction: column;

}

#add-website-form > div{
    display:flex;
    width:100%;
    margin-top:10px;
    gap:20px;
}



#add-website-form > div > label {
    display:flex;
    flex-direction: column;
    width:100%;
}

.file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-top:10px;
}
#add-website-form input {
    margin-top:10px;
    margin-bottom:10px;
    border:0;
}

#add-website-form input[type="file"] {
    display: none;
}

#add-website-button {
    justify-self: flex-end;
}

.site-logo-preview {
    width:100px;
    height:100px;
    margin:10px;
}

.upload-logo {
    display:flex;
    flex-direction: row !important;
    justify-content: space-between;
}

input {
    padding: 5px;
}

button {
    padding: 5px;
}

/* Helpers */



.center-h {
    display: flex;
    align-items: center;
}

.full-width {
    width:100%;
}