<header>
    <div class="header-logo">
        <img src="images/logo.png" alt="">
        <span>juniper</span>
    </div>
    <nav>
        <ul>
            <li class="nav-item">
                <a href="/"><i class="fa-solid fa-house"></i><span class="nav-text">home</span></a>
            </li>
            <li class="nav-item">
                <a href="/manage"><i class="fa-solid fa-sitemap"></i><span class="nav-text">manage sites</span></a>
            </li>
            <li class="nav-item">
                <a href="/settings"><i class="fa-solid fa-gear"></i><span class="nav-text">settings</span></a>
            </li>
        </ul>
    </nav>
</header>