<header>
    <div class="header-logo">
        <span>Juniper</span>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/manage">Manage Sites</a>
            </li>
            <li>
                <a href="/settings">Dashboard Settings</a>
            </li>
        </ul>
    </nav>
</header>